html,
body,
#root,
.App {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.App {
	background: rgba(66, 39, 71, 1);
	background: linear-gradient(to bottom, rgba(99, 45, 107, 1) 0%, rgba(65, 38, 69, 1) 73%, rgba(29, 17, 30, 1) 100%);
	display: flex;
	flex-direction: column;
}

.App::after {
	transition: opacity 0.3s;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background: black;
	opacity: 0.3;
}

.App.on::after {
	opacity: 0;
}

.myLightBulb {
  display: block;
	margin-top: -100px;
	zoom: 2;
}

.mySwitchButton {
  display: block;
	margin-top: 150px;
	zoom: 0.8;
}
